<button mat-button mat-icon-button *ngIf="basketItems?.length > 0" [matMenuTriggerFor]="menu" type="button" style="margin-right: 20px">
  <mat-icon [matBadge]="basketItems?.length" [matBadgeHidden]="basketItems?.length === 0" matBadgeColor="accent">
    add_shopping_cart
  </mat-icon>
  <!-- Include text description of the icon's meaning for screen-readers -->
  <span class="cdk-visually-hidden">
    Example with a home icon with overlaid badge showing the number 15
  </span>
</button>
<mat-menu #menu="matMenu" class="mat">
  <mat-list>
    <mat-list-item *ngFor="let item of basketItems">
      <img matListAvatar src="{{item.asset.photoUrl || '../../../assets/img/book.jpg'}}" alt="...">
      <h3 matLine> {{item.asset.title}} </h3>
      <p matLine>
        <span> {{item.asset.authorName}} </span>
      </p>
      <button mat-icon-button matTooltip="Delete" color="warn" (click)="removeFromBasket(item.id)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="bottom-buttons" fxLayoutAlign="space-between center">
    <button mat-raised-button type="button" color="warn" (click)="clearBasket()">Clear</button>
    <button mat-raised-button type="button" color="accent" (click)="checkoutAssets(basketItems)">Checkout</button>
  </div>
</mat-menu>