<div class="dashboard-container">
  <div flexLayout="row" fxLayoutAlign="space-between center" class="top-dashboard">
    <div fxFlex="32" class="mat-elevation-z4">
      <app-bar-chart *ngIf="monthlyActivityData" [barChartData]='monthlyActivityData'
        [barChartLabels]='monthlyActivityLabel' [chartName]='monthlyChartName'></app-bar-chart>
    </div>
    <div fxFlex="32" class="mat-elevation-z4">
      <app-pie-chart *ngIf="categoryDistributionData" [pieChartData]='categoryDistributionData'
        [pieChartLabels]='categoryDistributionLabel' [chartName]='categoryChartName'></app-pie-chart>
    </div>
    <div fxFlex="32" class="mat-elevation-z4">
      <app-pie-chart *ngIf="assetTypeDistributionData" [pieChartData]='assetTypeDistributionData'
        [pieChartLabels]='assetTypeDistributionLabel' [chartName]='assetTypedChartName'></app-pie-chart>
    </div>
  </div>
  <div flexLayout="row" fxLayoutAlign="space-between center" class="middle-dashboard">
    <div fxFlex="23" class="mat-elevation-z4">
      <app-total-card [iconName]='totalMembersIcon' [name]='totalMembersName' [totalNumber]='totalMembers'>
      </app-total-card>
    </div>
    <div fxFlex="23" class="mat-elevation-z4">
      <app-total-card [iconName]='totalItemsIcon' [name]='totalItemsName' [totalNumber]='totalItems'></app-total-card>
    </div>
    <div fxFlex="23" class="mat-elevation-z4">
      <app-total-card [iconName]='totalAuthorsIcon' [name]='totalAuthorsName' [totalNumber]='totalAuthors'>
      </app-total-card>
    </div>
    <div fxFlex="23" class="mat-elevation-z4">
      <app-total-card [iconName]='totalCheckoutsIcon' [name]='totalCheckoutsName' [totalNumber]='totalCheckouts'>
      </app-total-card>
    </div>
  </div>

  <div flexLayout="row" fxLayoutAlign="center center" class="bottom-dashboard">
    <div fxFlex="100" class="mat-elevation-z4">
      <app-line-chart *ngIf="dailyActivityData" [lineChartData]='dailyActivityData'
        [lineChartLabels]='dailyActivityLabel' [chartName]='dailyChartName'></app-line-chart>
    </div>
  </div>
</div>