.dashboard-container {
    margin: 20px;
}

mat-card-header {
    background-color: rgb(44, 62, 80);
    color: white;
}

.top-dashboard {
    margin: 10px;
}

.bottom-dashboard {
    margin: 10px;
}

.middle-dashboard {
    margin: 10px;
}