/* table {
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
} */

/* th.mat-header-cell {
    text-align: left;
    max-width: 300px;
} */

.filter-input {
    margin-left: 20px;
}

.create-button {
    margin-left: 100px;
}