<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <h3>
    {{userForm.controls['id'].value ? 'Edit User' : 'Add User'}}
  </h3>
  <button mat-button matSuffix mat-icon-button tabIndex="-1" area-label="clear" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form fxLayout="column" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="First Name" formControlName="firstName" required />
        <mat-error *ngFor="let validation of validationMessages.firstName">
          <mat-error *ngIf="
              userForm.get('firstName').hasError(validation.type) &&
                    (userForm.get('firstName').dirty || userForm.get('firstName').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName" required />
        <mat-error *ngFor="let validation of validationMessages.lastName">
          <mat-error *ngIf="
              userForm.get('lastName').hasError(validation.type) &&
                    (userForm.get('lastName').dirty || userForm.get('lastName').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="Email" formControlName="email" required />
        <mat-error *ngFor="let validation of validationMessages.email">
          <mat-error *ngIf="
              userForm.get('email').hasError(validation.type) &&
                  (userForm.get('email').dirty || userForm.get('email').touched)">
            {{ validation.message }}
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-select placeholder="Role" formControlName="role" required>
          <ng-container *ngFor="let type of roles">
            <mat-option [value]="type.name">{{type.name}}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngFor="let validation of validationMessages.role">
          <mat-error
            *ngIf="userForm.get('role').hasError('validation.role') && (userForm.get('role').dirty || userForm.get('role').touched)">
            {{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <div fxLayoutAlign="space-between center" class="button-row" fxFlex>
        <button mat-raised-button color="primary" type="submit"
          [disabled]="userForm.pristine || !userForm.valid">Submit</button>
        <button mat-raised-button color="accent" type="button" *ngIf="showRevert" (click)="revert()"
          [disabled]="userForm.pristine || !userForm.valid">Reset</button>
        <button mat-raised-button color="warn" type="button" (click)="closeDialog()">Cancel</button>
      </div>
    </div>
  </form>
</mat-dialog-content>