.example-card {
  margin: 10px;
  max-width: 400px;
  max-height: 750px
}

.photo-container {
  margin: 20px;
  max-width: 300px;
}

b {
  margin-right: 10px;
}

.example-small-box, .example-large-box {
  display: flex;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 650px;
  width: 750px;
}