<div class="mat-elevation-z8">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="filter-input flex">
    <form [formGroup]="searchForm" (ngSubmit)="searchAsset()">
      <mat-form-field>
        <input matInput formControlName="searchString" type="text" class="search-input" placeholder="Search"
          autocomplete="off" />
        <button mat-button matSuffix mat-icon-button type="button" (click)="onSearchClear()" aria-label="clear"
          *ngIf="searchForm.valid">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <table mat-table class="full-width-table" *ngIf="dataSource.data.length != 0" aria-label="Elements"
    [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="authorName">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element">{{ element.author.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let element">{{ element.year }}</td>
    </ng-container>
    <ng-container matColumnDef="assetType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.assetType.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Add to basket" color="primary" (click)="addToCart(element)">
          <mat-icon class="mat-18">keyboard_return</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>