<h2>{{assetForm.controls['id'].value?"Edit Item":"Add New Item"}}</h2>
<mat-dialog-content>
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight=300px>
      <mat-grid-tile>
        <div class="controls-container">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Title" formControlName="title" required>
            <mat-error
              *ngIf="assetForm.get('title').hasError('required') && (assetForm.get('title').dirty || assetForm.get('title').touched)">
              Title is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <textarea matInput type="text" placeholder="Description" formControlName="description" required></textarea>
            <mat-error
              *ngIf="assetForm.get('description').hasError('required') && (assetForm.get('description').dirty || assetForm.get('description').touched)">
              Description is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="Year" formControlName="year" required>
            <mat-error
              *ngIf="assetForm.get('year').hasError('required') && (assetForm.get('year').dirty || assetForm.get('year').touched)">
              Year is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="number" placeholder="Number of Copies" formControlName="numberOfCopies" required
              min="1">
            <mat-error
              *ngIf="assetForm.get('numberOfCopies').hasError('required') && (assetForm.get('numberOfCopies').dirty || assetForm.get('numberOfCopies').touched)">
              Number of copies is required</mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="showRevert" class="full-width-input">
            <input matInput type="number" placeholder="Current Copies Available" formControlName="copiesAvailable"
              required min="1">
            <mat-error
              *ngIf="assetForm.get('numberOfCopies').hasError('required') && (assetForm.get('numberOfCopies').dirty || assetForm.get('numberOfCopies').touched)">
              Number of copies is required</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controls-container">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Author" formControlName="author" required [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let author of authors" [value]="author">
                {{author.fullName}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="assetForm.get('author').hasError('required') && (assetForm.get('author').dirty || assetForm.get('author').touched)">
              Author is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Category" formControlName="category" required>
              <ng-container *ngFor="let category of categories">
                <mat-option [value]="category">{{category.name}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error
              *ngIf="assetForm.get('category').hasError('required') && (assetForm.get('category').dirty || assetForm.get('category').touched)">
              Category is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <mat-select (valueChange)="onChanges()" placeholder="Type" formControlName="assetType" required>
              <ng-container *ngFor="let type of assetTypes">
                <mat-option [value]="type">{{type.name}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error
              *ngIf="assetForm.get('category').hasError('required') && (assetForm.get('category').dirty || assetForm.get('category').touched)">
              Type is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="test" placeholder="ISBN" formControlName="isbn" required>
            <mat-error
              *ngIf="assetForm.get('isbn').hasError('required') && (assetForm.get('isbn').dirty || assetForm.get('isbn').touched)">
              ISBN is required</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="form-buttons" align="end">
      <button mat-raised-button color="primary" type="submit"
        [disabled]="assetForm.pristine || !assetForm.valid">Submit</button>
      <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button color="accent" type="button" *ngIf="showRevert" (click)="revert()"
        [disabled]="assetForm.pristine || !assetForm.valid">Revert</button>
    </div>
  </form>