<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <p>Please reset your password</p>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngFor="let validation of validationMessages.password">
            <mat-error
              *ngIf="resetPasswordForm.get('password').hasError(validation.type) && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
          <mat-error *ngFor="let validation of validationMessages.confirmPassword">
            <mat-error
              *ngIf="resetPasswordForm.get('confirmPassword').hasError(validation.type) && (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset
          Password</button>
        <p class="text-center mt-3 mb-3">© 2018-2019</p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
