<div class="navigation-container" [class.app-is-mobile]="(isHandset$ | async)">
  <mat-toolbar color="primary" class="navigation-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="navbar-logo" routerLink="/member-search">
      <img src="{{'../../../assets/img/lmsnavlogo.png'}}">
    </div>
    <span class="toolbar-spacer"></span>
    <app-basket></app-basket>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/user-profile']">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="(isHandset$ | async) ? 56 : 0">
    <mat-sidenav [opened]="true" #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [fixedInViewport]="(isHandset$ | async)" fixedTopGap="56">
      <mat-card [style.backgroundColor]="'lightgray'">
        <mat-card-header>
          <div mat-card-avatar class="avatar">
            <img class="profile-picture" src="{{photoUrl || '../../../assets/img/user.png'}}">
          </div>

          <mat-card-title>{{loggedInUser.firstName}}, {{loggedInUser.lastName}}</mat-card-title>
          <mat-card-subtitle>{{loggedInUser.role}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-nav-list>
        <app-sidebar></app-sidebar>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-progress-spinner></app-progress-spinner>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
