img {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}

mat-card {
  background-color: rgb(222, 229, 230);
}

.details-list {
  margin-bottom: 0%;
}

.example-card {
  margin: auto;
  margin-top: 2%;
}