<!-- <div fxLayoutAlign="center center" class="main-container"> -->
  <mat-card fxFlex="60" fxFlex.lt-xl="40" class="example-card mat-elevation-z4">
    <div fxLayoutAlign="center center" class="">
      <img src="{{user?.photoUrl || '../../../assets/img/user.png'}}" alt="Profile Picture">
    </div>
    <mat-card-content>
      <div fxLayoutAlign="center center" fxLayoutGap="40px" class="">
        <div fxFlex="50" fxLayoutAlign="end center" class="mat-subheading-2 details-list">
          <strong>Name:</strong>
        </div>
        <div fxFlex="50" class="mat-subheading-1 details-list">
          {{user?.firstName | titlecase}}, {{user?.lastName | titlecase}}
        </div>
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="40px" class="">
        <div fxFlex="50" fxLayoutAlign="end center" class="mat-subheading-2 details-list">
          <strong>Email:</strong>
        </div>
        <div fxFlex="50" class="mat-subheading-1 details-list">
          {{user.email | titlecase}}
        </div>
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="40px" class="">
        <div fxFlex="50" fxLayoutAlign="end center" class="mat-subheading-2 details-list">
          <strong>Role:</strong>
        </div>
        <div fxFlex="50" class="mat-subheading-1 details-list">
          {{user.role | titlecase}}
        </div>
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="40px" class="">
        <div fxFlex="50" fxLayoutAlign="end center" class="mat-subheading-2 details-list">
          <strong>Phone Number:</strong>
        </div>
        <div fxFlex="50" *ngIf="user.phoneNumber;else naBlock" class="mat-subheading-1 details-list">
          {{user.phoneNumber | phoneNumber}}
        </div>
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="40px" class="">
        <div fxFlex="50" fxLayoutAlign="end center" class="mat-subheading-2 details-list">
          <strong>Gender:</strong>
        </div>
        <div *ngIf="user.gender;else naBlock" fxFlex="50" class="mat-subheading-1 details-list">
          {{user.gender | titlecase}}
        </div>
        <ng-template #naBlock><div fxFlex="50" class="mat-subheading-1 details-list">
            N/A
          </div></ng-template>
      </div>
      <div fxLayoutAlign="center center" fxLayoutGap="40px" class="">
        <div fxFlex="50" fxLayoutAlign="end center" class="mat-subheading-2 details-list">
          <strong>Created Date:</strong>
        </div>
        <div fxFlex="50" class="mat-subheading-1 details-list">
          {{user.created | date}}
        </div>
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <div fxLayoutAlign="space-between center" class="">
        <input type="file" style="display: none" #fileInput (change)="updatePhoto($event)">
        <button fxFlex="50" mat-raised-button color="primary" class="action-button" (click)="fileInput.click()">Change Photo</button>
        <button fxFlex="50" mat-raised-button color="primary" type="button" class="action-button"
          (click)="updateProfile()">Edit Profile</button>
      </div>
    </mat-card-actions>
  </mat-card>
<!-- </div> -->