<div class="main-container" fxLayout="column" fxLayoutAlign="space-between center">

  <div fxLayout="column wrap" fxFlex="40" fxFlex.lt-lg="50" fxFlex.lt-sm="80" fxLayoutAlign="center center"
    class="mat-elevation-z4 form-container">
    <h2>Member Search</h2>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex>
          <span matPrefix>
            <mat-icon>card_membership</mat-icon>&nbsp;
          </span>
          <input matInput type="text" placeholder="Card Number" formControlName="cardNumber" required />
          <mat-error *ngFor="let validation of validationMessages.cardNumber">
            <mat-error *ngIf="
                searchForm.get('cardNumber').hasError(validation.type) &&
                    (searchForm.get('cardNumber').dirty || searchForm.get('cardNumber').touched)">
              {{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <a mat-button color="primary" (click)="openMemberDialog()" class="create-button">Add New</a>
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <div fxLayoutAlign="space-between center" class="button-row" fxFlex>
          <a mat-button color="primary" [routerLink]="['/advanced-search']">Advanced Search</a>
          <a mat-button color="primary" [routerLink]="['/members']">Full List</a>
          <button mat-raised-button color="primary" type="submit"
            [disabled]="searchForm.pristine || !searchForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="main-container" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="member !== undefined">
    <mat-accordion fxFlex="500px" fxFlex.xs="100%">
      <mat-expansion-panel>
        <mat-expansion-panel-header fxLayoutAlign="center center">
          <mat-panel-title>
            <img mat-card-avatar src="{{member.photoUrl || '../../../assets/img/book.jpg'}}" alt="..."> &nbsp;
            {{member?.firstName}}, {{member?.lastName}}
          </mat-panel-title>
          <mat-panel-description>
            {{member?.email}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="center start">
          <div fxFlex="35%" class="text-color"><strong>Phone Number:</strong> &nbsp; {{member?.phoneNumber}}</div>
          <div fxFlex class="text-color"><strong>Address:</strong> &nbsp; <address>{{member?.address}},
              {{member?.city}}, {{member?.state}} {{member?.zipcode}}</address>
          </div>
          <button mat-icon-button matTooltip="Details" color="primary" [routerLink]="['/members/', member.id]">
            <mat-icon class="mat-18">reorder</mat-icon>
          </button>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>