:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    padding: 20px;
}

.side-bar {
    background-color: #fc0;
    text-align: center;
}

.content {
    background-color: red;
}

.footer {
    background-color: gray;
}