<app-responsive-nav></app-responsive-nav>
<!-- <app-default-layout>
    <main>

    </main>
</!--> 

<!-- <div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
    <div fxFlex="80%" fxFlex.lt-md="100%" class="flex-wrapper">
        <ng-content></ng-content>
    </div>
</div> -->

<!-- <app-header flexLayout="row"></app-header>
<div flexLayout="row" fxFlex>
    <div fxFlex="20">
        <app-sidebar fxFlex></app-sidebar>
    </div>
    <div fxFlex="80" class="content">
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer flexLayout="row"></app-footer> -->

<!-- <app-default-layout></app-default-layout> -->
<!-- <app-nav></app-nav> -->